.footer{
   display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-block-end: 1.5rem;
}
.footer .logo{
    display: none;
}
.footer .icon-redes{
    justify-content: center;
}
.footer p {
    font: var(--body1);
    color: var(--white);
    text-align: center;
    margin: 0;

    
}
.footer p span:first-child{
    display: block;
    padding-block-end: .5rem;
}

@media screen and (min-width:768px) {
    .footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-block-end:2.5rem ;
    }
    .footer .logo{
        display: inline-block;
    }
    .footer .icon-redes{
        order: 2;
    }
    .footer p span:first-child{
        display: inline;
        padding-block-end: 0;
    }
}
@media screen and (min-width: 1024px){
}