.hero{
padding-block-start:1rem ;


}
.hero-image{
    text-align: center;margin-block-end: 1rem;
}
.hero-image img{
    vertical-align: middle;
    max-inline-size: 100%;
    block-size: auto;

}
.hero-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hero-description h1,.hero-description p{
    margin: 0;
}
.hero-description span:nth-of-type(1) {
    font: var(--headline5);
    display: block;
}
.hero-description span:nth-of-type(2) {
    font: var(--headline3);
}

.hero-description .icon-redes{
    padding-block-end: 1.5rem;
}
@media screen and (min-width:768px) {
    .hero{
        display: flex;
        gap: 2rem;
    }
    .hero-image{
        order: 2;
        flex: 1;
        text-align: end;
    }
    
    .hero-description{
        order: 1;
        max-inline-size: 28.125rem;
    }
    
}
@media screen and (min-width: 1024px){
    .hero-image img{
        inline-size: 31.25rem;
        block-size: 31.5rem ;
    }
    .hero-description {
        padding-block-start: 3.75rem;
    }
}